<!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home">
                        <a href="@Url.Action("Index", "Inicio", new { Area = "Etiketas" })" title="Ir a la pagina de inicio">Inicio</a>
                        <span>/</span>
                    </li>
                    <li><strong>Nosotros</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- main-container -->
<div class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <section class="col-sm-9">
                <div class="col-main">
                    <div class="page-title">
                        <h2>Nosotros</h2>
                    </div>
                    <div class="static-contain">
                        <p>
                            Etiketarte es una marca que agrupa productos innovadores en distintos materiales adhesivos que te permitirán personalizar, decorar y organizar todas tus cosas y ambientes con un sello único, con diseños originales y llamativos.
                        </p>
                        <p>
                            Nuestros productos están hechos en materiales especiales que garantizan poder ser adheridos a múltiples superficies, tales como: plásticos, telas, metales, maderas, productos sintéticos, vidrio y muchos más.
                        <p>
                            Podrás personalizar tus lugares favoritos, con las decoraciones modernas y fáciles de instalar, de manera que puedas darle un toque especial a tu cuarto, sala, oficina, y demás lugares que desees. Así también podrás decorar tu vehículo con stickers novedosos y divertidos. Lograrás de forma práctica, rápida y sencilla tener ambientes a tu gusto y medida.
                        </p>
                        <p>
                            Etiketarte te ofrece 8 categorías para escoger entre los muchos diseños que te presentamos y según tu necesidad
                        </p>
                        <br>
                        <div class="page-title">
                            <h2>¿Que es etiketarte?</h2>
                        </div>
                        <ul class="descripciones">
                            <li>
                                Porque los más pequeños de la casa necesitan <span class="texto-resaltado">reconocer</span> sus pertenencias.
                            </li>
                            <li>
                                Porque los uniformes, recipientes, cuadernos, y algunas otras cosas son iguales a los de los demás; de esta manera se pueden <span class="texto-resaltado">diferenciar</span>.
                            </li>
                            <li>
                                Porque algunas personas son alérgicas (por ejemplo al gluten) y deben <span class="texto-resaltado">mantener</span> sus recipientes con un uso estrictamente personal, puedan tener la tranquilidad de diferenciarlos.
                            </li>
                            <li>
                                Porque te encanta <span class="texto-resaltado">decorar</span> tus espacios a tu manera.
                            </li>
                            <li>
                                Porque cuando sales de casa a un paseo, a la escuela, a clases, o alguna otra actividad, sueles dejar algunas de tus cosas, de esta manera las podrás <span class="texto-resaltado">rescatar</span>.
                            </li>
                            <li>
                                Porque te gustan los detalles especiales para <span class="texto-resaltado">regalar</span>.
                            </li>
                            <li>
                                Porque simplemente se ven muy bonitas todas tus cosas <span class="texto-resaltado">organizadas y personalizadas</span>.
                            </li>
                            <li>
                                Porque te gusta que tu ropa sea distinta a la de los demás y que lleve tus propias <span class="texto-resaltado">ideas</span> impresas.
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <aside class="col-right sidebar col-sm-3 wow">
                <img src="@Url.Content("~/Content/Image/Etiketas/Art/lateral-1.jpg")" class="img-lateral" alt="">
            </aside>
        </div>
    </div>
</div>